# =========================
# System / Linux Files
# =========================
*.log
*.tmp
*.swp
*.bak
.DS_Store

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Azure Credentials
# =========================
.azure/

# =========================
# VPN / SSH Secrets
# =========================
ipsec.secrets
*.pem
*.key
*.ppk

# =========================
# VMware Files
# =========================
*.vmdk
*.vmem
*.vmss
*.nvram
*.vmsd
*.lck

# =========================
# Packet Captures
# =========================
*.pcap

# =========================
# Environment Variables
# =========================
.env
